body {
    font-family: Arial, sans-serif;
    margin: 40px auto;
    max-width: 800px;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

td {
    max-width: 200px;
    overflow-x: auto;
    white-space: wrap;
}


form {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
}

input[type="submit"] {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

pre {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: auto;
}

@media (max-width: 850px) {
    body {
        margin: 20px 10px;
        max-width: none;
        box-shadow: none;
    }

    th, td {
        white-space: normal;
        max-width: none;
    }

    input[type="text"] {
        width: 100%;
    }
}
